tr {
    cursor: pointer;
}

.projects-title {
    text-align: center;
}


.change-date-data {
    min-width: 100px;
}

.help-block {
    display: none;
}

.has-error .help-block {
    display: block;
}

.nav-tabs .nav.active a {
    background-color: #2780e3;
    color: white;
}

.nav-tabs .nav.active a:focus {
    background-color: #2780e3;
    color: white;
}
