<div id="templates">
    <script id="projects-template" type="text/x-handlebars-template">
        <table class="projects-table table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Change Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each projectsList}}
                    <tr class="project-item" data-project-id={{this._id}}>
                        <td>{{@index}}</td>
                        <td class="pr-name">{{this.name}}</td>
                        <td class="pr-description">{{this.description}}</td>
                        <td>{{this.creator.username}}</td>
                        <td class="change-date-data">{{this.updated}}</td>
                        <td><button class="project-edit btn btn-info">Edit</button></td>
                        <td><button class="project-delete btn btn-danger">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
</div>
