<div id="templates">
    <script id="projects-template" type="text/x-handlebars-template">
        <table class="projects-table table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Change Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each projectsList}}
                    <tr class="project-item" data-project-id={{this._id}}>
                        <td>{{@index}}</td>
                        <td class="pr-name">{{this.name}}</td>
                        <td class="pr-description">{{this.description}}</td>
                        <td>{{this.creator.username}}</td>
                        <td class="change-date-data">{{this.updated}}</td>
                        <td><button class="project-edit btn btn-info">Edit</button></td>
                        <td><button class="project-delete btn btn-danger">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="project-template" type="text/x-handlebars-template">
        <table class="issues-table table table-hover">
            <thead>
                <tr>
                    <th>IssueId</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Change Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each issuesList}}
                    <tr class="issue-item" data-issue-id={{this._id}}>
                        <td>{{this._id}}</td>
                        <td class="issue-name">{{this.name}}</td>
                        <td class="issue-description">{{this.description}}</td>
                        <td>{{this.creator.username}}</td>
                        <td class="change-date-data">{{this.updated}}</td>
                        <td><button class="issue-edit btn btn-info">Edit</button></td>
                        <td><button class="issue-delete btn btn-danger">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="comments-template" type="text/x-handlebars-template">
        {{#each commentsList}}
            <article class="comment-item panel panel-primary" data-comment-id={{this._id}}>
                <header class="panel-heading">
                    <span class="comment-info">{{this.creator.username}} added a comment - {{this.updated}}</span>
                    <section class="comment-controlls"></section>
                </header>
                <section class="panel-body">
                    {{this.text}}
                </section>
            </article>
        {{/each}}
    </script>
</div>
